In [103]:
# Numerical and Data Manipulation
import numpy as np  
import pandas as pd  

# Data Visualization
import matplotlib.pyplot as plt  
import seaborn as sns  

# Machine Learning Libraries
from sklearn.model_selection import train_test_split  
from sklearn.preprocessing import StandardScaler, MinMaxScaler  
from sklearn.metrics import accuracy_score, mean_squared_error, classification_report

In [104]:
data = pd.read_excel('expense_category_data.xlsx')

In [105]:
data

            category                                           expenses
0          Utilities  Electricity, water, gas, internet, cable TV, p...
1   Food & Groceries  Fresh produce, meat, dairy products, bread, eg...
2     Transportation  Car payment, car insurance, gas/fuel, public t...
3  Health & Wellness  Health insurance premiums, prescription medica...
4      Entertainment  Streaming services, movie tickets, concert tic...

In [106]:
data.set_index('category', inplace=True)

In [117]:
df = pd.DataFrame(columns=['expense', 'category'])

for category, row in data.iterrows():
    expenses = row['expenses'].split(',')  # Directly access the column
    for expense in expenses:
        df.loc[len(df)] = [expense, category]

In [120]:
df.sample(5)

                           expense       category
248                  dance classes  Entertainment
48          power line maintenance      Utilities
236                        bowling  Entertainment
23       carbon monoxide detectors      Utilities
38    outdoor lighting electricity      Utilities

In [122]:
df['category'].value_counts()

category
Entertainment        53
Food & Groceries     52
Health & Wellness    51
Utilities            50
Transportation       50
Name: count, dtype: int64

In [131]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()
X = cv.fit_transform(df['expense'])
y = df['category']

In [132]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
model.fit(X, y)
model.score(X, y)

0.96484375

In [136]:
from sklearn.metrics import classification_report

y_pred = model.predict(X)
report = classification_report(y, y_pred)
print(report)

                   precision    recall  f1-score   support

    Entertainment       0.98      0.98      0.98        53
 Food & Groceries       0.98      0.98      0.98        52
Health & Wellness       0.98      0.96      0.97        51
   Transportation       0.98      0.92      0.95        50
        Utilities       0.91      0.98      0.94        50

         accuracy                           0.96       256
        macro avg       0.97      0.96      0.96       256
     weighted avg       0.97      0.96      0.96       256

In [137]:
from joblib import dump, load

# Save the model
dump(model, 'model.joblib')

['model.joblib']